// swift-tools-version: {{SWIFT_TOOLS_VERSION}}
import PackageDescription

let package = Package(
    name: "{{PACKAGE_NAME}}",
    platforms: [{{PLATFORMS}}],
    products: [
        .library(name: "{{PACKAGE_NAME}}", targets: ["{{PACKAGE_NAME}}"])
    ],
    dependencies: [
        // WORKSPACE_PKG_MANIFEST_DEPS_BEGIN
        // WORKSPACE_PKG_MANIFEST_DEPS_END
{{TEST_FRAMEWORK_MANIFEST_DEPS}}
    ],
    targets: [
        .target(name: "{{PACKAGE_NAME}}", dependencies: [
            // WORKSPACE_PKG_TARGET_DEPS_BEGIN
            // WORKSPACE_PKG_TARGET_DEPS_END
        ]),
        .testTarget(name: "{{PACKAGE_NAME}}Tests", dependencies: [
            "{{PACKAGE_NAME}}",
{{TEST_FRAMEWORK_TARGET_DEPS}}
        ])
    ]
)
